<form action='/save_url' method='post'>
  Enter the url to save:
  <input type='text' name='url' />
  <br>
  Enter the title of the url:
  <input type='text' name='title' />
  <input type='submit' value='Submit' />
</form>
