<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class="bookmark">
    <a href="<%= bookmark.url %>">
      <%= bookmark.title %>
    </a>
    <form action='/bookmarks/<%= bookmark.id %>' method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete Bookmark" />
    </form>
       <form action='/bookmarks/<%= bookmark.id %>/edit' method="get">
      <input type='hidden' name='_method' value='UPDATE'/>
      <input type="submit" value="Edit" />
    </form>
  </li>
  <% end %>
</ul>
