Welcome to your Bookmark Manager!

<form action='/bookmarks' method='get'>
  <input type="submit" value="View Bookmarks" />
</form>
<form action='/add_bookmark' method='get'>
  <input type="submit" value="Add Bookmark" />
</form>
